<h1><strong><p class="text-dark">HOME</p></strong></h1>
<h4>Welcome to Youtubes, your go-to destination for entertainment. 
   Whether you're here to learn something new, 
   be entertained, or simply relax, we've got you covered.
</h4>
<p>What We Offer:</p>

<head>
    <!-- Your content goes here -->
<div
img src="assets/pic2.jpg" class="bg-image" style="height: 100px;">
</div>
</head>

<div class="jumbotron">
    <h1 class="display-4">Let's get started!</h1>
    <p class="lead">What are you waiting for? Start searching now.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="hom" role="button">GO!!!</a>
    </p>
  </div>













